<table [ngClass]="isAsc? 'c-table asc':'c-table desc'" *ngIf="(data$|async); else loading">
    <thead>
        <th [ngClass]="((sortType|async) === 'id')?'c-table__title active':'c-table__title inactive'"
            (click)="toggleSort('id')">ID</th>
        <th [ngClass]="((sortType|async) === 'name')?'c-table__title active':'c-table__title inactive'"
            (click)="toggleSort('name')">Customer Name
        </th>
        <th [ngClass]="((sortType|async) === 'email')?'c-table__title active':'c-table__title inactive'"
            (click)="toggleSort('email')">Customer Email
        </th>
        <th [ngClass]="((sortType|async) === 'phone')?'c-table__title active':'c-table__title inactive'"
            (click)="toggleSort('phone')">Customer Phone
        </th>
    </thead>
    <tbody *ngIf="(data$|async) as customerLists">
        <tr *ngFor="let customer of customerLists">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
        </tr>
    </tbody>
</table>

<ng-template #loading>
    <div class="u-loading">
        Loading...
    </div>
</ng-template>