// ----------------------------------
// Var
// ----------------------------------
$phone: "only screen and (min-width : 576px)"
$tablet: "only screen and (min-width : 768px)"
$laptop: "only screen and (min-width : 992px)"
$desktop: "only screen and (min-width : 1200px)"

$theme: #2E5BFF
$theme-light: #EEF2FF

$grey: #F4F6FC
$grey-dark: #8798AD

.c-table
    &__sort
        font-family: inherit
        appearance: none
        -webkit-appearance: none
        background: $grey
        color: $grey-dark
        border: 0
        border-radius: 0.2em
        padding: 0.5em 1.5em
        font-size: 1rem
        cursor: pointer
        transition: ease 300ms
        &:hover
            background: $grey-dark
            color: $grey
