@import '../../styles.sass'

@mixin triangle
    content: ''
    position: absolute
    top: calc(50% - #{$triangle-size})
    right: 0.5em
    display: block
    width: 0
    height: 0
    border-style: solid

.c-table
    width: 100%
    border-spacing: 0
    margin: 0 0 1em 0
    &__title
        position: relative
        width: calc(100% / 4)
        padding: 0.5em 1em
        border-bottom: solid 1px $grey-dark
        cursor: pointer
        .asc &:not([class*="inactive"])::before
            border-color: transparent transparent $grey-dark transparent
        .desc &:not([class*="inactive"])::after
            border-color: $grey-dark transparent transparent transparent
        &::before
            @include triangle
            border-width: 0 $triangle-size $triangle-size $triangle-size
            border-color: transparent transparent #efefef transparent
        &::after
            @include triangle
            top: calc((50% - #{$triangle-size}) + #{$triangle-size} + 0.1em)
            right: 0.5em
            border-width: $triangle-size $triangle-size 0 $triangle-size
            border-color: #efefef transparent transparent transparent

    td
        padding: 0.5em
        border-bottom: solid 1px #ccc