<div class="c-pagination">
    <div class="c-pagination__total">
        <p>Page {{(currentIndex$|async)}} of {{(totalPages$|async)}}</p>
    </div>
    <nav class="c-pagination__list">
        <ul>
            <li>
                <button [ngClass]="currentIdx <= 1? 'c-pagination__nav disable' : 'c-pagination__nav'"
                    (click)="triggerPage(this.currentIdx - 1)">Back</button></li>
            <li *ngFor="let n of this.pageArray"><button (click)="triggerPage(n)"
                    [ngClass]="currentIdx === n? 'active' : 'inactive'">{{n}}</button></li>
            <li><button [ngClass]="currentIdx >= pageArray.length? 'c-pagination__nav disable' : 'c-pagination__nav'"
                    (click)="triggerPage(currentIdx + 1)">Next</button>
            </li>
        </ul>
    </nav>
</div>