@import '../../styles.sass'

.c-pagination
    width: 100%
    font-size: 0.9rem
    @media #{$tablet}
        display: flex

    &__total
        display: block
        margin: 0 0 1em 0
        p
            margin: 0
        @media #{$tablet}
            display: inline-block
            margin: 0
    &__list
        margin-left: auto
        ul
            display: flex
            list-style: none
            margin: 0
            padding: 0
            border-radius: 0.2em
            button
                display: inline-block
                appearance: none
                -webkit-appearance: none
                padding: 1em
                border: 0
                background: transparent
                border: solid 1px #ccc
                border-left: 0
                border-radius: 0
                transition: ease 200ms
                cursor: pointer
                &.active
                    background: $theme
                    color: $grey
                    pointer-events: none
                &.disable
                    pointer-events: none
                    color: #ccc
                    outline: none
                &:hover
                    background: $theme-light
                    color: #191919
            li
                display: inline-block
                padding: 0
                margin: 0
                &:first-of-type button
                    border-left: solid 1px #ccc
    &__nav
        border: solid 1px #ccc
        margin: 0 0 2em 0